# THIS ENV FILE EXAMPLE ONLY FOR DOCKER COMPOSE
# SEE https://docs.docker.com/compose/environment-variables/#the-env-file
JWT_SECRET=asffasgvxczfqreqw213
ALLOWED_ORIGINS=https://innei.ren,https://www.innei.ren
