@charset "utf-8";

:root {
  --active-file-bg-color: #dadada;
  --active-file-bg-color: rgba(32, 43, 51, 0.63);
  --active-file-text-color: white;
  --bg-color: #fff;
  --text-color: #333;
  --side-bar-bg-color: #f5f5f5;
  --control-text-color: #666;
}

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  color: #333;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  font-size: 14px;
  -webkit-font-smoothing: initial;
}

#write {
  max-width: 960px;
  padding-top: 2em;
  padding-left: 60px;
  padding-right: 60px;
  min-height: calc(100vh - 6em);
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
}

.typora-node #write {
  min-height: calc(100% - 6em);
}

@media screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }

  #write {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1100px) {
  body,
  #footer-word-count-info {
    background: #f5f5f5;
  }

  body.pin-outline,
  .pin-outline #footer-word-count-info,
  .pin-outline footer {
    background: #fff;
  }

  #write {
    max-width: 1000px;
    padding: 40px 60px;
    background: #fff;
    margin: 3em auto 3em;
    border: 1px solid #ddd;
    border-width: 0 1px;
  }

  .pin-outline #write {
    max-width: 1000px;
    background: #fff;
    margin: 0 0 0;
    border: 0;
    padding-left: 60px;
    padding-right: 60px;
  }

  footer {
    background-color: transparent;
  }
}

@media screen and (min-width: 1300px) {
  body.pin-outline,
  .pin-outline #footer-word-count-info,
  .pin-outline footer {
    background: #f5f5f5;
  }

  .pin-outline #write {
    max-width: 1000px;
    padding: 40px 60px;
    background: #fff;
    margin: 3em auto 3em;
    border: 1px solid #ddd;
    border-width: 0 1px;
  }

  .pin-outline footer {
    background-color: transparent;
  }

  #footer-word-count-info {
    background: #f5f5f5;
  }
}

/* 如果你的项目仅支持 IE9+ | Chrome | Firefox 等，推荐在 <html> 中添加 .borderbox 这个 class */
html.borderbox *,
html.borderbox *:before,
html.borderbox *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,
canvas,
video {
  display: inline-block;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,
button,
input,
select,
textarea {
  font: 300 1em/1.8 'PingFang SC', 'Lantinghei SC', 'Microsoft Yahei',
    'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans;
}

body {
  font-family: 'PingFang SC', 'Lantinghei SC', 'Microsoft Yahei',
    'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'TimesNewRomanPS-ItalicMT', 'PingFang SC', 'Lantinghei SC',
    'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif',
    'WenQuanYi Micro Hei', sans;
  /*font-family: "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans;*/
  -webkit-font-smoothing: initial;
  font-weight: 100;
  color: var(--text-color);
  line-height: 1.35;
  font-variant-numeric: lining-nums;
  margin-bottom: 1em;
}

em {
  font-family: Georgia-Italic, STSongti-SC-Light, serif;
}

strong em,
em strong {
  font-family: Georgia-BoldItalic, STSongti-SC-Regular, serif;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* 去掉各Table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 去除默认边框 */
fieldset,
img {
  border: 0;
}

/* 块/段落引用 */
blockquote {
  position: relative;
  color: #999;
  font-weight: 400;
  border-left: 1px solid #1abc9c;
  padding-left: 1em;
  margin: 1em 3em 1em 2em;
}

@media only screen and (max-width: 640px) {
  blockquote {
    margin: 1em 0;
  }
}

/* Firefox 以外，元素没有下划线，需添加 */
acronym,
abbr {
  border-bottom: 1px dotted;
  font-variant: normal;
}

/* 添加鼠标问号，进一步确保应用的语义是正确的（要知道，交互他们也有洁癖，如果你不去掉，那得多花点口舌） */
abbr {
  cursor: help;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: 400;
}

/* 去掉列表前的标识, li 会继承，大部分网站通常用列表来很多内容，所以应该当去 */
ul,
ol {
  list-style: none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: '';
}

/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

:root sub,
:root sup {
  vertical-align: baseline; /* for ie9 and other modern browsers */
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* 让链接在 hover 状态下显示下划线 */
a {
  color: #1abc9c;
}

a:hover {
  text-decoration: underline;
}

#write a {
  border-bottom: 1px solid #1abc9c;
}

#write a:hover {
  border-bottom-color: #555;
  color: #555;
  text-decoration: none;
}

/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
}

/* 标记，类似于手写的荧光笔的作用 */
mark {
  background: #fffdd1;
  border-bottom: 1px solid #ffedce;
  padding: 2px;
  margin: 0 5px;
}

/* 代码片断 */
pre,
code,
pre tt {
  font-family: Courier, 'Courier New', monospace;
}

#write .md-fences {
  border: 1px solid #ddd;
  padding: 1em 0.5em;
  display: block;
  -webkit-overflow-scrolling: touch;
}

/* 一致化 horizontal rule */
hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.8em;
  height: 10px;
}

#write strong {
  font-weight: bolder;
  color: #000;
}

.code-tooltip.md-hover-tip strong {
  color: white;
}

/* 保证块/段落之间的空白隔行 */
#write p,
#write .md-fences,
#write ul,
#write ol,
#write dl,
#write form,
#write hr,
#write figure,
#write-p,
#write-pre,
#write-ul,
#write-ol,
#write-dl,
#write-form,
#write-hr,
#write-table,
blockquote {
  margin-bottom: 1.2em;
}

html {
  font-family: PingFang SC, Verdana, Helvetica Neue, Microsoft Yahei,
    Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 */
#write h1,
#write h2,
#write h3,
#write h4,
#write h5,
#write h6,
#write-h1,
#write-h2,
#write-h3,
#write-h4,
#write-h5,
#write-h6 {
  margin-top: 1.2em;
  margin-bottom: 0.6em;
  line-height: 1.35;
  color: #000;
}

#write h1,
#write-h1 {
  font-size: 2.4em;
  padding-bottom: 1em;
  border-bottom: 3px double #eee;
}

#write h2,
#write-h2 {
  font-size: 1.8em;
}

#write h3,
#write-h3 {
  font-size: 1.6em;
}

#write h4,
#write-h4 {
  font-size: 1.4em;
}

#write h5,
#write h6,
#write-h5,
#write-h6 {
  font-size: 1.2em;
}

/* 在文章中，应该还原 ul 和 ol 的样式 */
#write ul,
#write-ul {
  margin-left: 1.3em;
  list-style: disc;
}

#write ol,
#write-ol {
  list-style: decimal;
  margin-left: 1.9em;
}

#write li ul,
#write li ol,
#write-ul ul,
#write-ul ol,
#write-ol ul,
#write-ol ol {
  margin-bottom: 0.8em;
  margin-left: 2em;
}

#write li ul,
#write-ul ul,
#write-ol ul {
  list-style: circle;
}

#write table th,
#write table td {
  border: 1px solid #ddd;
  padding: 0.5em 1em;
  color: #666;
}

#write table .md-table-edit th {
  border: none;
  padding: 0;
  color: inherit;
}

#write table th,
#write-table th {
  background: #fbfbfb;
}

#write table thead th,
#write-table thead th {
  background: #f1f1f1;
}

#write table caption {
  border-bottom: none;
}

#write em {
  font-weight: inherit;
  font-style: inherit;
}

li > p {
  margin-bottom: 0 !important;
}

/* Responsive images */
#write img {
  max-width: 100%;
}

a.md-toc-inner {
  border-bottom: 0 !important;
}

.md-toc-h1:first-of-type:last-of-type {
  display: none;
}

.md-toc {
  font-size: inherit;
}

.md-toc-h1 .md-toc-inner {
  font-weight: normal;
}

.md-table-edit th {
  padding: 0 !important;
  border: 0 !important;
}

.mac-seamless-mode #write {
  min-height: calc(100vh - 6em - 20px);
}

.typora-quick-open-item.active {
  color: var(--active-file-text-color);
}

*.in-text-selection,
::selection {
  background: var(--active-file-bg-color);
  text-shadow: none;
  color: white;
}
