# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build @mx-space/api-client

on:
  push:
    branches:
      - master
      - main
    paths:
      - 'packages/api-client/**'
      - .github/workflows/api-client.yml
  pull_request:
    branches: [master, main]
    paths:
      - 'packages/api-client/**'
      - .github/workflows/api-client.yml

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js and pnpm
        uses: ./.github/actions/setup-node
        with:
          node-version: ${{ matrix.node-version }}

      - name: Test and Build
        working-directory: ./packages/api-client
        run: |
          pnpm run test
          pnpm run package
        env:
          CI: true
